* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  position: relative;
}

button {
  cursor: pointer;
}

label {
  cursor: pointer;
}